// SPDX-License-Identifier: GPL-2.0+
 /*
  * Copyright 2020 NXP
  */

/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>
#include "imx8mn.dtsi"

/ {
	model = "Data Respons Solutions VHGW";
	compatible = "drs,vhgw", "fsl,imx8mn";

	aliases {
		spi0 = &ecspi1;
	};

	chosen {
		stdout-path = &uart2;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0 0x80000000>;
	};

	signature {
		key-datarespons {
			required = "conf";
			algo = "sha256,rsa4096";
			rsa,r-squared = <
				0x38934618 0xe5ed68ed 0xcf466e48
				0x801e626d 0xd3863a9e 0x0beb9a64
				0xc2a3a617 0x9df8208a 0x88e3f01e
				0x70483c7e 0xbf3ec8c9 0xea66d4a0
				0x13f42a5c 0x4458d7c6 0xfa4ed852
				0xabce5db3 0x824fec0c 0x3c2ad9b8
				0xb3ee0939 0xe50ffed7 0x0e519dd5
				0x776054ba 0xb5f63b64 0xf5ae47ce
				0xbcec1a71 0xe2425b98 0xe4fca9d3
				0x8d2a66db 0x6469a5a5 0x61214e44
				0x75216b77 0xf762757d 0xc6af8eeb
				0x47f285b4 0xcdccb1ff 0x58fdf64e
				0xc3524968 0xaa6a4141 0x961a21c1
				0x207f2792 0xc2752d3b 0x16fb1b23
				0x29f5430d 0x0cf46f74 0xc34836e6
				0xd30fe560 0xa621af49 0x09f1abce
				0xe859724b 0xfa33a595 0xe9e3c338
				0x5d81c743 0x1cc48882 0x60f7dcfc
				0x5151e4d9 0xd0fbad8d 0x72ba3612
				0x1b28b06d 0xa410aa34 0x3d69c5c5
				0x6eea21eb 0x5954ff25 0xabedcddc
				0x1a3c5d12 0x3e3308e9 0x41ef4ca7
				0xc30456dd 0x940182ef 0x83fbef4e
				0xd5da697f 0xb0b2ea03 0xe056cbf9
				0x36e9272f 0xa5983b14 0xedcf3abd
				0xdf12ed4f 0x85aa877a 0x85d00f57
				0x5f4ed163 0x43f1c6ca 0x7ae4454e
				0xdb6b8aa1 0x08c581e7 0x9ea20465
				0x3d8c08cd 0xa9557474 0x16b18bf4
				0xdc996607 0xa8526e02 0xf619a307
				0x41e0653f 0xc070c409 0xb0f679ac
				0xaf2542da 0x42b56628 0x1a257711
				0x37c11ea5 0x7172fec1 0x8a616ca1
				0xbc8c1f00 0x3bcbe22d 0x84d8a65e
				0x9cdbe4d4 0xb0179131 0xdbfa917c
				0xad49b2c7 0x07905ebe 0x2dd17d67
				0xa06ef194 0x2b37a885 0x1369aeef
				0xcc305102 0xbe3b4db8 0x7622de18
				0xef101680 0x38399080 0x1493bb85
				0xb176345a 0xb0c739e0 0xc087b4f8
				0xfdd7d48b 0x779651b1 0x8b665529
				0x74716ede 0x3e1e23db 0x86e8fe1a
				0xd09c0f7a 0x140a6dc8>;
			rsa,modulus = <
				0xa7512440 0x233554f2 0xf452500b
				0x003cae04 0xd8cb7e4e 0xb434220b
				0xd8d778bd 0x5072ce78 0xbf9421be
				0x8adaa564 0xda868ead 0x3212a49f
				0x7d99b4e0 0xdae0ca4c 0x5b859f6b
				0xd64cebb4 0x942996eb 0x8976d429
				0x958c5ad9 0x98391fc9 0x7c3dd972
				0x5ca2a7ed 0xa5e76985 0xba5d9c65
				0x97146b2c 0xba34d8de 0x6771b152
				0xa0458344 0x12616103 0xebc22a3c
				0x24d6e0c1 0xe3777ad4 0xab6a1863
				0xbe3fe21c 0x6db5eac6 0x7c793543
				0xc630f746 0x6bbe71f2 0x583d2715
				0x86ca6dfa 0xc4bad97b 0xcf8f32bd
				0x0dc95c02 0xbb1e4fa9 0xf0afd14d
				0x1703a951 0x831a6b51 0x8edf389f
				0xb8e7bcd5 0x6792a73b 0x5e42fe22
				0xbf428164 0x4229bf0a 0xefeff2ee
				0xf3c5d57a 0x7b13ee43 0xd2a85df2
				0xfb26dc0d 0x23ccebd6 0x3b2e7947
				0x231ad3b8 0x350aa5ae 0x0b790491
				0x0cd632b0 0x3c071df5 0x6db91c16
				0x0d8890be 0x895d9dfd 0xa779490d
				0x4c4d6338 0xb78165c2 0x40d2f42f
				0x1a4285d8 0xf8278c91 0x2b006f55
				0xdbf1c3a5 0x2564cb91 0x3f3061b1
				0xecc3a7eb 0x6b5e5655 0x70cacd07
				0xe7f0b9cf 0x4225f6ce 0x1f3997cf
				0xc10835ce 0x2e5d9ddf 0x23c63fea
				0x1cf4580c 0x06fe3e8d 0xf1fa5056
				0xb01063a4 0xbad63f30 0xcf822bb7
				0x8b5bc559 0x3c506362 0x504363f4
				0x3aab6333 0xd2c544e6 0x7bea48e2
				0xcc90b6f1 0xd858c623 0xa35deb0d
				0x75bed0a3 0x09d8ae3a 0xe3aa5441
				0xdc0e6743 0x84518f7f 0x6ee936aa
				0x6f5ac85e 0x38d38668 0x54288ef2
				0x5ffbdbd2 0x2053e245 0x93d34fe5
				0x59b31cc0 0x0223be76 0xb8820437
				0xef4e8e05 0xbbed6565 0x5086a433
				0xad82ef3e 0xd331d0d7 0xe4b27983
				0x89f054bc 0x19bdf953 0x707882c9
				0x6e6c9c48 0x63759c4f>;
			rsa,exponent = <0x00000000 0x00010001>;
			rsa,n0-inverse = <0x6d840551>;
			rsa,num-bits = <0x00001000>;
			key-name-hint = "datarespons";
		};
	};

	reg_usb0: regulator-usb0 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usb0>;
		regulator-name = "usb0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio4 25 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
	};
};

&A53_0 {
	cpu-supply = <&buck1_reg>;
};

&A53_1 {
	cpu-supply = <&buck1_reg>;
};

&A53_2 {
	cpu-supply = <&buck1_reg>;
};

&A53_3 {
	cpu-supply = <&buck1_reg>;
};

&i2c1 {
	clock-frequency = <400000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1>;
	pinctrl-1 = <&pinctrl_i2c1_gpio>;
	scl-gpios = <&gpio5 14 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio5 15 GPIO_ACTIVE_HIGH>;
	status = "okay";

	pmic: bd71850@4b {
		compatible = "rohm,bd71847";
		reg = <0x4b>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pmic>;
		interrupt-parent = <&gpio1>;
		interrupts = <3 IRQ_TYPE_EDGE_FALLING>;
		rohm,reset-snvs-powered;

		#clock-cells = <0>;
		clocks = <&osc_32k 0>;
		clock-output-names = "clk-32k-out";

		regulators {
			buck1_reg: BUCK1 {
				regulator-name = "buck1";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <1250>;
			};
			/*
			buck2_reg: BUCK2 {
				regulator-name = "buck2";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <1250>;
			};

			buck3_reg: BUCK3 {
				// BUCK5 in datasheet
				regulator-name = "buck3";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1350000>;
			};
			 */
			buck4_reg: BUCK4 {
				// BUCK6 in datasheet
				regulator-name = "buck4";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck5_reg: BUCK5 {
				// BUCK7 in datasheet
				regulator-name = "buck5";
				regulator-min-microvolt = <1605000>;
				regulator-max-microvolt = <1995000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6_reg: BUCK6 {
				// BUCK8 in datasheet
				regulator-name = "buck6";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1_reg: LDO1 {
				regulator-name = "ldo1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo2_reg: LDO2 {
				regulator-name = "ldo2";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <900000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo3_reg: LDO3 {
				regulator-name = "ldo3";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4_reg: LDO4 {
				regulator-name = "ldo4";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo6_reg: LDO6 {
				regulator-name = "ldo6";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c3>;
	pinctrl-1 = <&pinctrl_i2c3_gpio>;
	scl-gpios = <&gpio5 18 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio5 19 GPIO_ACTIVE_HIGH>;
	status = "okay";

	usb_hub: usb2512bi@2c {
		reg = <0x2c>;
		compatible = "microchip,usb2512bi";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_hub>;
		reset-gpios = <&gpio5 2 GPIO_ACTIVE_LOW>;
	};
};

&ecspi1 {
	cs-gpios = <&gpio5 9 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "okay";

	flash0: mx25l3233fm2i-08g@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <25000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			spl@0 {
				label = "spl";
				reg = <0x000000 0x040000>;
			};

			u-boot@40000 {
				label = "u-boot";
				reg = <0x040000 0x190000>;
			};

			platform@1D0000 {
				label = "platform";
				reg = <0x1D0000 0x010000>;
				read-only;
			};

			system_a@1E0000 {
				label = "system_a";
				reg = <0x1E0000 0x010000>;
			};

			system_b@1F0000 {
				label = "system_b";
				reg = <0x1F0000 0x010000>;
			};

			spl-second@200000 {
				label = "spl-second";
				reg = <0x200000 0x040000>;
			};

			u-boot-second@240000 {
				label = "u-boot-second";
				reg = <0x240000 0x190000>;
			};

			user_a@3D0000 {
				label = "user_a";
				reg = <0x3D0000 0x010000>;
			};

			user_b@3E0000 {
				label = "user_b";
				reg = <0x3E0000 0x010000>;
			};
		};
	};
};

&snvs_pwrkey {
	status = "okay";
};

&uart2 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&usbotg1 {
	dr_mode = "otg";
	hnp-disable;
	srp-disable;
	adp-disable;
	usb-role-switch;
	disable-over-current;
	status = "okay";
};

&usdhc3 {
	assigned-clocks = <&clk IMX8MN_CLK_USDHC3_ROOT>;
	assigned-clock-rates = <400000000>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc3>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

&iomuxc {
	pinctrl_reg_usb0: usb0reggrp {
		fsl,pins = <
			MX8MN_IOMUXC_SAI2_TXC_GPIO4_IO25	0x100 /* USB_OTG_PWR_EN */
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C1_SCL_I2C1_SCL		0x400001c3 /* I2C1_SCL */
			MX8MN_IOMUXC_I2C1_SDA_I2C1_SDA		0x400001c3 /* I2C1_SDA */
		>;
	};

	pinctrl_i2c1_gpio: i2c1gpiogrp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C1_SCL_GPIO5_IO14	0x1c3 /* I2C1_SCL */
			MX8MN_IOMUXC_I2C1_SDA_GPIO5_IO15	0x1c3 /* I2C1_SDA */
		>;
	};

	pinctrl_pmic: pmicirqgrp {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO03_GPIO1_IO3	0x140 /* PMIC_nINT */
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C3_SCL_I2C3_SCL		0x400001c3 /* I2C3_SCL */
			MX8MN_IOMUXC_I2C3_SDA_I2C3_SDA		0x400001c3 /* I2C3_SDA */
		>;
	};

	pinctrl_i2c3_gpio: i2c3gpiogrp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C3_SCL_GPIO5_IO18	0x400001c3 /* I2C3_SCL */
			MX8MN_IOMUXC_I2C3_SDA_GPIO5_IO19	0x400001c3 /* I2C3_SDA */
		>;
	};

	pinctrl_hub: hubgrp {
		fsl,pins = <
			MX8MN_IOMUXC_SAI3_MCLK_GPIO5_IO2	0x0 /* USB_HUB1_nRESET */
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX8MN_IOMUXC_SAI3_TXFS_UART2_DCE_RX			0x0 /* UART_TXD-CPU */
			MX8MN_IOMUXC_SAI3_TXC_UART2_DCE_TX			0x80 /* UART_RXD-CPU */
		>;
	};

	pinctrl_ecspi1: ecspi1grp {
		fsl,pins = <
			MX8MN_IOMUXC_ECSPI1_SCLK_ECSPI1_SCLK	0x96 /* ECSPI1_SCLK-Flash */
			MX8MN_IOMUXC_ECSPI1_MISO_ECSPI1_MISO	0x96 /* ECSPI1_MISO-Flash */
			MX8MN_IOMUXC_ECSPI1_MOSI_ECSPI1_MOSI	0x96 /* ECSPI1_MOSI-Flash */
			MX8MN_IOMUXC_ECSPI1_SS0_GPIO5_IO9		0x0 /* ECSPI1_SS0-Flash */
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			MX8MN_IOMUXC_NAND_CE1_B_USDHC3_STROBE	0x90 /* SD-STROBE-eMMC */
			MX8MN_IOMUXC_NAND_CE2_B_USDHC3_DATA5	0x1d0 /* SD-D5-eMMC */
			MX8MN_IOMUXC_NAND_CE3_B_USDHC3_DATA6	0x1d0 /* SD-D6-eMMC */
			MX8MN_IOMUXC_NAND_CLE_USDHC3_DATA7		0x1d0 /* SD-D7-eMMC */
			MX8MN_IOMUXC_NAND_RE_B_USDHC3_DATA4		0x1d0 /* SD-D4-eMMC */
			MX8MN_IOMUXC_NAND_WE_B_USDHC3_CLK		0x40000090 /* SD-CLK-eMMC */
			MX8MN_IOMUXC_NAND_WP_B_USDHC3_CMD		0x1d0 /* SD-CMD-eMMC */
			MX8MN_IOMUXC_NAND_DATA04_USDHC3_DATA0	0x1d0 /* SD-D0-eMMC */
			MX8MN_IOMUXC_NAND_DATA05_USDHC3_DATA1	0x1d0 /* SD-D1-eMMC */
			MX8MN_IOMUXC_NAND_DATA06_USDHC3_DATA2	0x1d0 /* SD-D2-eMMC */
			MX8MN_IOMUXC_NAND_DATA07_USDHC3_DATA3	0x1d0 /* SD-D3-eMMC */
		>;
	};

	pinctrl_usdhc3_100mhz: usdhc3-100mhzgrp {
		fsl,pins = <
			MX8MN_IOMUXC_NAND_CE1_B_USDHC3_STROBE	0x94 /* SD-STROBE-eMMC */
			MX8MN_IOMUXC_NAND_CE2_B_USDHC3_DATA5	0x1d4 /* SD-D5-eMMC */
			MX8MN_IOMUXC_NAND_CE3_B_USDHC3_DATA6	0x1d4 /* SD-D6-eMMC */
			MX8MN_IOMUXC_NAND_CLE_USDHC3_DATA7		0x1d4 /* SD-D7-eMMC */
			MX8MN_IOMUXC_NAND_RE_B_USDHC3_DATA4		0x1d4 /* SD-D4-eMMC */
			MX8MN_IOMUXC_NAND_WE_B_USDHC3_CLK		0x40000094 /* SD-CLK-eMMC */
			MX8MN_IOMUXC_NAND_WP_B_USDHC3_CMD		0x1d4 /* SD-CMD-eMMC */
			MX8MN_IOMUXC_NAND_DATA04_USDHC3_DATA0	0x1d4 /* SD-D0-eMMC */
			MX8MN_IOMUXC_NAND_DATA05_USDHC3_DATA1	0x1d4 /* SD-D1-eMMC */
			MX8MN_IOMUXC_NAND_DATA06_USDHC3_DATA2	0x1d4 /* SD-D2-eMMC */
			MX8MN_IOMUXC_NAND_DATA07_USDHC3_DATA3	0x1d4 /* SD-D3-eMMC */
		>;
	};

	pinctrl_usdhc3_200mhz: usdhc3-200mhzgrp {
		fsl,pins = <
			MX8MN_IOMUXC_NAND_CE1_B_USDHC3_STROBE	0x96 /* SD-STROBE-eMMC */
			MX8MN_IOMUXC_NAND_CE2_B_USDHC3_DATA5	0x1d6 /* SD-D5-eMMC */
			MX8MN_IOMUXC_NAND_CE3_B_USDHC3_DATA6	0x1d6 /* SD-D6-eMMC */
			MX8MN_IOMUXC_NAND_CLE_USDHC3_DATA7		0x1d6 /* SD-D7-eMMC */
			MX8MN_IOMUXC_NAND_RE_B_USDHC3_DATA4		0x1d6 /* SD-D4-eMMC */
			MX8MN_IOMUXC_NAND_WE_B_USDHC3_CLK		0x40000096 /* SD-CLK-eMMC */
			MX8MN_IOMUXC_NAND_WP_B_USDHC3_CMD		0x1d6 /* SD-CMD-eMMC */
			MX8MN_IOMUXC_NAND_DATA04_USDHC3_DATA0	0x1d6 /* SD-D0-eMMC */
			MX8MN_IOMUXC_NAND_DATA05_USDHC3_DATA1	0x1d6 /* SD-D1-eMMC */
			MX8MN_IOMUXC_NAND_DATA06_USDHC3_DATA2	0x1d6 /* SD-D2-eMMC */
			MX8MN_IOMUXC_NAND_DATA07_USDHC3_DATA3	0x1d6 /* SD-D3-eMMC */
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO02_WDOG1_WDOG_B	0x166 /* WDOG_B */
		>;
	};
};
