if TARGET_VHGW

config SYS_BOARD
	default "vhgw"

config SYS_VENDOR
	default "akkodis"

config SYS_CONFIG_NAME
	default "vhgw"

config PLATFORM_SIGNATURE
	bool "Enable signature verification of platform header within SPL"
	select SPL_RSA_VERIFY
	select SPL_HASH
	select SPL_RSA
	select SPL_CRYPTO
	default y

source "board/akkodis/common/Kconfig"

endif
